/* For debugging a div just add "debug" class */
@import url('https://fonts.googleapis.com/css?family=Oswald|Archivo+Narrow|Lato|Roboto|Patua+One|Playfair+Display+SC|Spectral+SC|Tulpen+One');

.debug
{
  position: relative;
}

.debug:after
{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  height: 100%;
  content: '';
  border: 1px dashed red;
  background-color: rgba(0, 0, 0, .4);
}

/* Font */
body
{
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Font size */
.font80
{
  font-size: .8em;
}

.font85
{
  font-size: .85em;
}

.font90
{
  font-size: .9em;
}

.font95
{
  font-size: .95em;
}

.font100
{
  font-size: 1em;
}

/* General */
a
{
  color: var(--green);
}

.overlay
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titre
{
  position: relative;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 4px solid rgba(0, 0, 0, .1);
  flex: 1;
}

.titre::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 1px;
  content: '';
  border-top: 1px solid var(--success);
}

.titre::after
{
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 50%;
  height: 1px;
  content: '';
  border-bottom: 4px solid var(--success);
}

/* Special hover */
.hover-success:hover
{
  color: var(--white);
  background-color: var(--success);
}

.hover-success:hover a.nav-link
{
  color: var(--white);
}

.hover-danger:hover
{
  color: var(--white);
  background-color: var(--danger);
}

.hover-danger:hover a.nav-link
{
  color: var(--white);
}

.hover-info:hover
{
  color: var(--white);
  background-color: var(--info);
}

.hover-info:hover a.nav-link
{
  color: var(--white);
}

.hover-warning:hover
{
  color: var(--white);
  background-color: var(--warning);
}

.hover-warning:hover a.nav-link
{
  color: var(--white);
}

.hover-dark:hover
{
  color: var(--white);
  background-color: var(--dark);
}

.hover-dark:hover a.nav-link
{
  color: var(--white);
}

.hover-primary:hover
{
  color: var(--white);
  background-color: var(--primary);
}

.hover-primary:hover a.nav-link
{
  color: var(--white);
}

/* Font size */
.rgba1
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .1);
}

.rgba1.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba1.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba1.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba1.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba1.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba1.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba1.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba1.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba1.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba1.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba2
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .2);
}

.rgba2.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba2.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba2.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba2.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba2.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba2.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba2.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba2.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba2.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba2.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba3
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .3);
}

.rgba3.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba3.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba3.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba3.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba3.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba3.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba3.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba3.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba3.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba3.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba4
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .4);
}

.rgba4.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba4.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba4.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba4.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba4.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba4.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba4.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba4.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba4.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba4.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba5
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .5);
}

.rgba5.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba5.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba5.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba5.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba5.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba5.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba5.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba5.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba5.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba5.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba6
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .6);
}

.rgba6.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba6.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba6.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba6.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba6.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba6.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba6.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba6.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba6.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba6.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba7
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .7);
}

.rgba7.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba7.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba7.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba7.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba7.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba7.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba7.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba7.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba7.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba7.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba8
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .8);
}

.rgba8.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba8.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba8.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba8.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba8.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba8.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba8.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba8.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba8.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba8.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.rgba9
{
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: rgba(0, 0, 0, .9);
}

.rgba9.hover0:hover
{
  background-color: rgba(0, 0, 0, 0);
}

.rgba9.hover1:hover
{
  background-color: rgba(0, 0, 0, .1);
}

.rgba9.hover2:hover
{
  background-color: rgba(0, 0, 0, .2);
}

.rgba9.hover3:hover
{
  background-color: rgba(0, 0, 0, .3);
}

.rgba9.hover4:hover
{
  background-color: rgba(0, 0, 0, .4);
}

.rgba9.hover5:hover
{
  background-color: rgba(0, 0, 0, .5);
}

.rgba9.hover6:hover
{
  background-color: rgba(0, 0, 0, .6);
}

.rgba9.hover7:hover
{
  background-color: rgba(0, 0, 0, .7);
}

.rgba9.hover8:hover
{
  background-color: rgba(0, 0, 0, .8);
}

.rgba9.hover9:hover
{
  background-color: rgba(0, 0, 0, .9);
}

.flex-1
{
  flex: 1;
}

/* Drop-down item */
.dropdown-menu
{
  color: var(--white);
  background-color: var(--success);
}

.dropdown-menu a.dropdown-item
{
  color: var(--white);
}

.dropdown-menu a.dropdown-item:hover
{
  background-color: rgba(0, 0, 0, .3);
}

/* Menu-top */
#menu-top .flag
{
  padding: 0;
}

#menu-top .navbar-brand
{
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  padding-top: 4.5px;
  padding-right: inherit;
  padding-bottom: 4.5px;
  padding-left: inherit;
}

#menu-top .navbar-brand img
{
  top: -2px;
}

#menu-top a
{
  padding: 8px 16px;
}

#menu-top a.text-white,
#menu-top .bg-primary > a,
#menu-top .bg-secondary > a,
#menu-top .bg-success > a,
#menu-top .bg-info > a,
#menu-top .bg-warning > a,
#menu-top .bg-danger > a,
#menu-top .bg-dark > a
{
  color: var(--white);
}

#menu-top .nav-item
{
  border-left: 1px solid rgba(0, 0, 0, .2);
}

#menu-top .nav-item .facebook:hover
{
  color: var(--white);
  background-color: var(--info);
}

#menu-top .nav-item .twitter:hover
{
  color: var(--white);
  background-color: var(--success);
}

#menu-top .nav-item .youtube:hover
{
  color: var(--white);
  background-color: var(--danger);
}

#menu-top .dropdown-menu
{
  top: calc(100% - 2.1px);
  border: none;
}

/* Header-top */
#header-top
{
  font-family: 'Patua One', cursive;
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 220px;
  background: url(../img/hospital3.jpeg);
  background-position-y: 40%;
  background-size: cover;
}

#header-top .title
{
  font-family: 'Patua One', cursive;
  font-weight: 300;
  color: #fff;
  color: rgba(255, 255, 255, .9);
}

#header-top a
{
  color: #e5e5e5;
}

#header-top a:hover
{
  color: #fff;
}

#header-top nav .nav-link
{
  text-align: center;
}

#header-top nav .nav-link i.fa
{
  font-size: 2.4em;
  display: block;
}

#header-top nav .nav-link:hover
{
  background-color: rgba(0, 0, 0, .25);
}

/* Menu */
#menu
{
  padding-top: 0;
  padding-bottom: 0;
}

#menu ul li
{
  padding-top: 0;
  padding-bottom: 0;
}

#menu ul .dropdown-menu
{
  top: calc(100% - 2.2px);
}

#menu a.nav-link
{
  padding: 8px 24px;
  color: #e5e5e5;
}

#menu a.nav-link:hover
{
  color: #fff;
  background-color: var(--dark);
}

/* Slideshow section */
#slideshow-section #carousel
{
  width: 100%;
}

#slideshow-section #carousel .carousel-indicators
{
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -18px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

#slideshow-section #carousel .carousel-indicators li
{
  width: 12px;
  height: 12px;
  margin-bottom: 4px;
  border: 1px solid var(--success);
  border-radius: 0;
  background-color: transparent;
}

#slideshow-section #carousel .carousel-indicators li.active
{
  background-color: var(--success);
}

#slideshow-section #carousel .carousel-control-prev,
#slideshow-section #carousel .carousel-control-next
{
  font-size: 1.6em;
  width: auto;
  opacity: 1;
  color: var(--success);
}

#slideshow-section #carousel .carousel-control-next-icon
{
  color: var(--success);
}

#slideshow-section #carousel .carousel-control-prev
{
  left: -48px;
}

#slideshow-section #carousel .carousel-control-next
{
  right: -48px;
}

#slideshow-section #carousel .carousel-item
{
  overflow: hidden;
  max-height: 250px;
}

#slideshow-section #carousel .carousel-item img
{
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  min-height: 250px;
}

#slideshow-section #carousel .carousel-item .carousel-caption
{
  top: 0;
  right: auto;
  bottom: bottom;
  left: 50%;
  width: 50%;
  height: 100%;
  padding: 8px 16px;
  text-align: justify;
  color: var(--dark);
}

#content-loop .card.bg-info,
#content-loop .card.bg-secondary,
#content-loop .card.bg-danger,
#content-loop .card.bg-success,
#content-loop .card.bg-info
{
  color: var(--white);
}

#content-loop .card.bg-info .card-title,
#content-loop .card.bg-secondary .card-title,
#content-loop .card.bg-danger .card-title,
#content-loop .card.bg-success .card-title,
#content-loop .card.bg-info .card-title
{
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

#content-loop .card.bg-light
{
  color: var(--dark);
}

#content-loop .card.bg-light .card-title
{
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}

#code-patient
{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  color: var(--white);
  background: url(../img/parallax6.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer
{
  margin-top: 3rem;
  padding-top: 1.2rem;
  border-top: 4px solid var(--success);
}

footer #footer-bottom a.nav-link
{
  color: var(--white);
}

footer #footer-bottom a.nav-link a:hover
{
  text-decoration: underline;
}

/* Wordpress class */
/* Custm title */
.entry-content h1
{
  font-size: 1.8rem;
}

.entry-content h2
{
  font-size: 1.6rem;
}

.entry-content h3
{
  font-size: 1.4rem;
}

.entry-content h4
{
  font-size: 1.2rem;
}

.entry-content h5
{
  font-size: 1.14rem;
}

.entry-content h6
{
  font-size: 1.07rem;
}

.entry-content h1,
.entry-content h2,
.entry-content h3
{
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
}

.entry-content h4,
.entry-content h5,
.entry-content h6
{
  margin-bottom: 18px;
  border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

h1.title,
h2.title,
h3.title
{
  padding-bottom: 8px;
  border-bottom: 4px solid rgba(0, 0, 0, .1);
}

h4.title,
h5.title,
h6.title
{
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

/* Custom form */
form.comment-form input[type='text'],
form.comment-form input[type='password'],
form.comment-form input[type='email'],
form.comment-form input[type='url'],
form.comment-form textarea
{
  display: block;
  width: 100% !important;
  border: none;
}

form.comment-form textarea
{
  border: 1px solid #ddd;
}

form.comment-form input[type='checkbox']
{
  margin-right: 8px;
}

form.comment-form input[type='text'],
form.comment-form input[type='password'],
form.comment-form input[type='email'],
form.comment-form input[type='url']
{
  border-bottom: 1px solid #ddd;
}

form.comment-form input[type='submit']
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  padding: .375rem .75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background: var(--success);
}

/* Little fix for grid view */
.row article .card
{
  width: 100%;
}

.page-item.active .page-link
{
  z-index: 1;
  color: #fff;
  border-color: var(--success);
  background-color: var(--success);
}
